body {
    background: transparent;
}

.wallpaper {
    background-position: center center;
    background-size: cover;

    @media #{$phone} {
        background-image: $bg-img-phone;
        background-image: url("https://source.unsplash.com/collection/4311532");
    }

    @media #{$tablet} {
        background-image: $bg-img-full;
        background-image: url("https://source.unsplash.com/collection/4311532");
    }

    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.wallpaper::before {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsla(205, 12%, 12%, 0.5);
    content: "";
}

.wallpaper > * {
    position: relative;
}
