html {
  box-sizing: border-box;
  font-family: $font-base;
}

body {
  background-color: $color-bg;
  color: $color-text;
  margin: 0;
  transition: opacity 1s ease;
}

.dom-loading {
  opacity: 0;
}

@media #{$desktop} {
  html {
    font-size: 125%;
  }
}

::placeholder {
  color: $ghost;
}

::selection {
  background-color: $orchid;
  color: $extra-white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2 {
  color: $color-title;
  font-family: $font-title;
}

p {
  line-height: 1.375;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

@media #{$tablet} {
  p > img {
    max-height: 50vh;
  }
}

blockquote {
  font-style: italic;
  position: relative;
}

blockquote::before {
  color: hsla(0, 0%, 50%, 0.5);
  content: '❝';
  font-size: 4em;
  left: -0.5em;
  position: absolute;
  top: -0.325em;
}

blockquote cite {
  display: block;
  font-style: normal;
  text-align: right;
}

hr {
  opacity: 0.5;
  width: 87%;
}

figcaption {
  font-size: 75%;
  font-weight: 600;
  text-align: center;
}

:focus {
  outline-color: $color-canary;
  -moz-outline-radius: 0.25rem;
  outline-style: dashed;
  outline-width: 2px;
}

time {
  color: $color-muted;
  font-size: 0.75rem;
}
