html {
  box-sizing: border-box;
  font-family: $font-sans;
	$font-weight: 400;
	$font-slant: 0;
	$font-casual: 0;
	$font-mono: 0;
	$font-cursive: 1;
}

* {
	/* prettier-ignore */
	font-variation-settings:
		'wght' $font-weight,
		'slnt' $font-slant,
		'CASL' $font-casual,
		'MONO' $font-mono,
		'CRSV' $font-cursive;
}

body {
  background-color: $color-bg;
  color: $color-text;
  margin: 0;
  transition: opacity 1s ease;
}

.dom-loading {
  opacity: 0;
}

@media #{$desktop} {
  html {
    font-size: 125%;
  }
}

::placeholder {
  color: $color-ghost;
}

::selection {
  background-color: $color-orchid;
  color: $color-white-extra;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2 {
  color: $color-title;
  font-family: $font-title;
}

p {
  line-height: 1.375;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

@media #{$tablet} {
  p > img {
    max-height: 50vh;
  }
}

blockquote {
  font-style: italic;
  position: relative;
}

blockquote::before {
  color: hsla(0, 0%, 50%, 0.5);
  content: '❝';
  font-size: 4em;
  left: -0.5em;
  position: absolute;
  top: -0.325em;
}

blockquote cite {
  display: block;
  font-style: normal;
  text-align: right;
}

hr {
  opacity: 0.5;
  width: 87%;
}

figcaption {
  font-size: 75%;
  font-weight: 700;
  text-align: center;
}

:focus {
  outline-color: $color-teal;
  outline-offset: 3px;
  -moz-outline-radius: 0.5rem;
  -o-outline-radius: 0.5rem;
  outline-style: dotted;
  outline-width: 2px;
}

time {
  color: $color-muted;
  font-size: 0.75rem;
}
