.post.comments {
    background-color: $color-comments-bg;
    color: white;

    h2 {
        color: white;
    }
}

// div that wraps the iframe
// .utterances {}

// the iframe from utterances
// .utterances-frame {}
