footer p {
  font-size: 75%;
  line-height: 1.25rem;
  opacity: 0.75;
}

footer a {
  color: $white;
  font-weight: lighter;
}

.crecom {
  display: block;
  margin-top: 4px;
}

.copyleft {
  display: inline-block;
  filter: FlipH;
  margin: 0;
  padding-left: 0.125em;
  text-align: right;
  transform: scaleX(-1);
}
