body {
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-rows: 100%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.col {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.sidebar {
  background-color: hsla(205, 12%, 12%, 0.5);
  color: $white;
  text-align: center;
  padding: 2rem 1rem;
}

.sticky {
  padding-top: 2rem;
}

@media #{$phone} {
  .row {
    grid-template-columns: 1fr;
  }

  .floaty {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 2em;
    background: $black;
    z-index: 9;
    transition: all 750ms ease;
    transform: translate3d(100%, 0, 0);

    &.shown {
      transform: translate3d(0, 0, 0);
    }
  }
}

/* enable side by side scrolling lanes */
@media #{$tablet} {
  .grid {
    grid-template-columns: 7fr 3fr;
  }

  .brand {
    flex-shrink: 0;
  }
}

@media #{$desktop} {
  .sidebar {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
