/* when header is shown, big logo, centered content, show tag cloud */
header {
  text-align: center;

  .brand {
    cursor: default;
    padding: 1em 0;
  }

  .logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 7em;
    margin: 0 auto;
    transform-origin: center center;
    transition: 444ms ease-in-out;
    width: 7em;
    
    &:hover {
      transform: rotateZ(-222deg);
    }
  }

  .home-link {
    display: block;
  }

  .home-link:focus {
    outline: none;
  }

  .site-title {
    margin: 0.5em 0 0.25em;
  }

  .site-tagline {
    margin-top: 0;
  }

  .site-title,
  .site-tagline {
    color: $white;
    display: block;
  }
}
