.homepage {
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 13.5rem;
    padding: 3em 1em 2em;
    text-align: center;
    color: $white;

    h1,
    h2 {
        color: $white;
    }

    ul {
        list-style: none;
    }
}
