a:link {
  color: $color-link;
}

a:link:hover {
  color: $color-peri;
}

a:visited {
  color: $color-violet;
}

a:visited:hover {
  color: $color-mauve;
}

a:active {
  color: $color-vermillion;
}

a:visited:active {
  color: $color-salmon;
}

.sidebar a {
  opacity: 0.8;
  text-decoration: none;
  transition: all $quick $ease-sine;

  &:hover {
    opacity: 1;
  }
}
