a:link {
  color: $color-link;
}

a:visited {
  color: $violet;
}

a:link:hover {
  color: $color-peri;
}

a:visited:hover {
  color: $mauve;
}

a:link:active {
  color: $color-vermillion;
}

a:visited:active {
  color: $color-salmon;
}

.sidebar a {

  text-decoration: none;
  font-weight: bolder;
  opacity: 0.8;
  transition: all 250ms ease;

  &:hover {
    opacity: 1;
  }
}
