.post,
.post-summary {
  p,
  blockquote {
    font-family: $font-text;
  }

  .list-taxonomies {
    text-align: center;
  }
}

.byline {
  font-size: 0.75em;
}

.scrolliner {
  background-color: $color-title;
  height: 6px;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(calc(-100% - 4em), 0, 0);
  width: calc(100% + 8em);

  &::after {
    background-color: $color-highlight;
    content: '';
    display: block;
    height: 3px;
    width: 100%;
  }

  &.ghost {
    opacity: 0;
    transition: none;
  }
}

.post,
.taxonomy {
  background-color: $white;
  border-radius: 1.25em;
  margin: 1.325em 0.625rem;
  min-height: 100vh;
  padding: 1.25rem 1.25em;
  position: relative;

  @media #{$tablet} {
    border-radius: 0 $curvature $curvature 0;
    margin: 0 2em 2em 0;
    padding: 2em;
  }

  @media #{$desktop} {
    padding: 3em;
  }

  h2 {
    font-family: $font-title;
  }

  p {
    line-height: 1.375;
    max-width: 80ch;
  }

  ul li,
  ol li {
    line-height: 1.5;
  }

  .post-title,
  .taxonomy-title,
  .taxonomy-subtitle,
  .post-lead,
  .post-subtitle {
    line-height: 1.15;
    margin: 0.5rem 0;
  }

  .post-lead,
  .post-subtitle {
    color: $color-muted;
    font-weight: 400;
  }
  
  .post-lead {
    font-family: $font-base;
    font-size: 0.875em;
    font-style: italic;
  }
  
  .post-subtitle {
    font-size: 1rem;
  }

  .post-date {
    color: $color-muted;
    display: block;
    margin: 0 0 0.5rem;
  }
}

.post-summary {
  background-color: $white;
  border-radius: 1.25em;
  margin: 0.625em;
  opacity: 0.9;
  padding: 1.25em;
  position: relative;
  transition: all 222ms $sine;

  &:hover {
    border-color: $color-done;
    opacity: 1;

    .read-on {
      font-weight: bolder;
    }
  }

  &:first-child {
    margin-top: 1.325em;
  }

  @media #{$tablet} {
    margin: 0 1.5em 1.5em;

    &:hover {
      transform: translate3d(-0.125rem, 0, 0) scale(1.01);
    }
  }

  @media #{$desktop} {
    margin: 0 2em 2em;
  }
}
