li.ais-Hits-item,
div.ais-InfiniteHits--empty,
.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Results-item {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0 1rem !important;
    width: 100% !important;
    max-height: 8rem;
    box-shadow: none !important;
    border-color: $gray-light !important;
    background: $color-bg;
    color: $color-text;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 1em;
}

input.ais-SearchBox-input {
    background: transparent;
    border-radius: 1em;
    border-width: 2px;
    padding: 0.5rem 2rem;
    border-color: $color-bg;
    font-family: $font-base;
    color: $white;

    &::placeholder {
        color: $gray-light;
    }
}

button.ais-InfiniteHits-loadMore,
button.ais-InfiniteResults-loadMore {
    margin: 1rem auto;
    display: flex;
    background-color: $orchid;

    &:hover {
        background-color: $mauve;
    }
}

.muted {
    color: $gray-light;
}

button.ais-SearchBox-submit {
    left: 0.5rem;
}

button.ais-SearchBox-reset {
    right: 0.5rem;
}

svg.ais-SearchBox-resetIcon path,
svg.ais-SearchBox-submitIcon path {
    fill: $white;
}

.hits {
    padding: 1em 0;
}

.search {
    img {
        display: flex;
        margin: 1em auto;
        height: 1.5em;
    }
}
