table {
    width: 100%;
    padding: 0.5em;
    border: 1px solid;
}

@media #{$phone} {
    table {
        padding: 0.25em;
    }
}

th,
td {
    padding: 0.125em 0.25em;
}

thead > tr {
    border-bottom: 1px solid;
}
