.taxonomy-term {
  font-size: 75%;
}

.taxonomy-term a {
  border-radius: 0.25em;
  color: $color-muted;
  font-family: $font-base;
  font-weight: normal;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 222ms $sine;

  &:hover {
    background-color: transparentize($color: $color-teal, $amount: 0.85);
    color: $color-teal;
  }
}

.post .taxonomy-term::before {
  content: '';
}

.taxonomy-term a::before {
  content: '#';
  font-size: 87.5%;
}

.profile-pic {
  background: $color-cadet;
  border: 3px solid $color-dank;
  border-radius: 1em;
  box-shadow: inset 0 0 1em 0.25em transparentize($black, 0.5);
  max-height: 240px;
  padding: 3px;
}

.sidebar .list-inline .taxonomy-term {
  margin-right: 0;
}

.sidebar {
  a:link {
    color: $white;
  }
}

.sidebar .taxonomy-term {
  a:hover {
    background-color: transparentize($color-cadet, 0.8);
    color: $color-peri;
  }
  
  a:active {
    background-color: transparentize($color-dank, 0.8);
    color: $color-teal;
  }
  
  a:visited {
    color: $gray-light;
  
    &:hover {
      background-color: transparentize($violet, 0.8);
      color: $mauve;
    }

    &:active {
      background-color: transparentize($color-flesh, 0.8);
      color: $color-salmon;
    }
  }
}
