.taxonomy-term {
    font-size: 75%;
}

.taxonomy-term a {
    color: $color-muted;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    transition: all 250ms;

    &:hover {
        background-color: transparentize($color-muted, 0.8);
    }
}

.taxonomy-term a::before {
    content: "#";
    font-size: 87.5%;
}

.profile-pic {
    max-height: 240px;
    border: 3px solid $color-dank;
    padding: 3px;
    border-radius: 1em;
    background: $color-cadet;
    box-shadow: inset 0 0 1em 1em transparentize($black, 0.5);
}

aside {
    .list-inline .taxonomy-term {
        margin-right: 0;

        a {
            color: $white;

            &:hover {
                background-color: transparentize($white, 0.8);
            }
        }
    }
}
