/* SIZES */
$font-size: 16px;
$curvature: 24px;

/* COLOR CODES */
$white: rgb(206, 223, 224);
$black: rgb(6, 7, 10);
$tan: rgb(162, 128, 83);
$brown: rgb(124, 89, 50);
$green: rgb(68, 132, 69);
$green-light: rgb(170, 224, 159);
$green-dark: rgb(4, 26, 24);
$gray: rgb(67, 80, 82);
$gray-dark: rgb(25, 30, 32);
$gray-light: rgb(107, 126, 139);
$color-bg: $white;
$color-text: $gray-dark;
$color-link: $green;
$color-title: $green-dark;
$color-highlight: $gray-light;
$color-muted: $gray;
$color-done: $brown;
$color-alert: $tan;
$color-comments-bg: #021012;
$color-comments-link: #278a97;
$color-comments-header: #06272c;
$color-comments-border: #10444d;

/* FONTS
 * base: Lato, sans-serif
 * text: Aleo, serif
 * title: Righteous, sans-serif
 * */

$font-base: "Lato", system-ui;
$font-text: "Aleo", serif;
$font-title: "Righteous", sans-serif;
$font-code: "Inconsolata", monospace;

/* IMGS */
$bg-img-phone: url("../img/logan-lambert-1100600-unsplash-phone.jpg");
$bg-img-full: url("../img/logan-lambert-1100600-unsplash.jpg");
$logo-white: url('../img/atmanaut-logo-white.png');

/* MEDIA QUERIES */
$phone: "only screen and (max-width: 684px)";
$tablet: "only screen and (min-width: 684px)";
$desktop: "only screen and (min-width: 900px)";
