
body {
  background: transparent;
}

.wallpaper {
  background-position: center center;
  background-size: cover;
  @media (--phone) {
    background-image: var(--bg-img-phone) at-2x;
  }
  @media (--tablet) {
    background-image: var(--bg-img-full) at-2x;
  }
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.wallpaper:before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black);
  opacity: 0.7;
  content: "";
}

.wallpaper > * {
  position: relative;
}

