html {
  box-sizing: border-box;
  font-family: var(--font-base);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

@media --desktop {
  html {
    font-size: 125%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: var(--color-link);
}

h1, h2 {
  color: var(--color-title);
  font-family: var(--font-title);
}

.post, .post-summary {
  p, span, ul, ol, dl, blockquote {
    font-family: var(--font-text);
  }
}

blockquote {
  position: relative;
  font-style: italic;
}

blockquote:before {
  position: absolute;
  left: -0.5em;
  top: 0;
  content: "❝";
  font-size: 4em;
  color: hsla(0, 0%, 50%, 0.5);
}
blockquote cite {
  text-align: right;
  display: block;
  font-style: normal;
}

