html {
    box-sizing: border-box;
    font-family: var(--font-base);
}

body {
    color: var(--color-base);
    background-color: var(--color-bg);
    margin: 0;
    transition: opacity 1s ease;
}

.dom-loading {
    opacity: 0;
}

@media (--desktop) {
    html {
        font-size: 125%;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: var(--color-link);
}

h1,
h2 {
    color: var(--color-title);
}

h1,
h2 {
    font-family: var(--font-title);
}

img {
    max-width: 100%;
}

blockquote {
    position: relative;
    font-style: italic;
}

blockquote::before {
    position: absolute;
    left: -0.5em;
    top: 0;
    content: "❝";
    font-size: 4em;
    color: hsla(0, 0%, 50%, 0.5);
}

blockquote cite {
    text-align: right;
    display: block;
    font-style: normal;
}

.post,
.post-summary {
    p,
    span,
    ul,
    ol,
    dl,
    blockquote {
        font-family: var(--font-text);
    }
}
