footer p {
    font-size: 75%;
    opacity: 0.75;
    line-height: 1.25rem;
}

footer a {
    color: inherit;
    font-weight: lighter;
}

.crecom {
    display: block;
    margin-top: 4px;
}

.copyleft {
    display: inline-block;
    text-align: right;
    margin: 0;
    padding-left: 0.125em;
    transform: scaleX(-1);
    filter: FlipH;
}
