.homepage {
    padding: 3em 1em 2em;
    text-align: center;
    color: var(--white);
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 240px;

    h1,
    h2 {
        color: var(--white);
    }
    ul {
        list-style: none;
    }
}
