html,
body {
    height: 100vh;
}

body {
    overflow: hidden;
    display: flex;
}

.inverse {
    color: var(--white);
    background-color: var(--black);
    background-color: transparent;
}

.lane {
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    flex: 1;
    flex-direction: column;
}

main.lane {
    position: relative;
}

aside.lane {
    display: flex;
    text-align: center;
    background-color: transparent;
    justify-content: space-between;
    padding: 2rem;
}

@media (--phone) {
    aside.lane {
        position: fixed;
        width: 100vw;
        height: 100vh;
        padding-top: 4em;
        overflow-y: scroll;
        background: var(--black);
        z-index: 9;
        transition: all 750ms ease;
        transform: translate3d(100%, 0, 0);

        &.shown {
            transform: translate3d(0, 0, 0);
        }
    }
}

/* enable side by side scrolling lanes */
@media (--tablet) {
    .lane {
        &.right {
            order: 2;
        }

        main& {
            flex: 3;
        }
    }

    .brand: {
        flex-shrink: 0;
    }
}
