.inverse {
  color: var(--white);
  background-color: var(--black);
  background-color: transparent;
}

aside.lane {
  text-align: center;
  background-color: transparent;
}

@media (--phone) {
  aside.lane {
    position: absolute;
    display: flex;
    padding-top: 4em;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    overflow-y: scroll;
    padding-left: 2em;
    padding-right: 2em;
    transition: all 750ms ease;
    background: var(--black);
    z-index: 9;
    transform: translate3d(100%,0,0);

    &.shown {
      transform: translate3d(0, 0, 0)
    }
  }
}

/* enable side by side scrolling lanes */
@media (--tablet) {
  html, body {
    height: 100vh;
  }

  body {
    overflow: hidden;
    display: flex;
  }

  .lane {
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    flex: 1;
    flex-direction: column;
    &.right {
      order: 2;
    }
    main& {
      flex: 3;
    }
    aside& {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
    }
  }
  .brand: {
    flex-shrink: 0;
  }
}

