.menu-trigger {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--logo-white);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
    z-index: 10;
    margin: 0.5em;
    transition: 444ms ease-in-out;
    transform-origin: center center;
    opacity: 0.8;
    cursor: pointer;

    @media (--tablet) {
        display: none;
    }

    &.triggered {
        transform: rotateZ(-360deg);

        &:hover {
            transform: scale(1.1) rotateZ(-270deg);
            opacity: 1;
        }
    }

    &:hover {
        transform: scale(1.1) rotateZ(-90deg);
        opacity: 1;
    }
}
