.menu-trigger {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--logo-white);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
    z-index: 10;
    margin: 0.5em;
    transition: all 500ms ease;
    opacity: 0.8;
    cursor: pointer;

    @media (--tablet) {
        display: none;
    }

    &.triggered {
        transform: rotateZ(-270deg);
    }

    &:hover {
        width: 2.8em;
        height: 2.8em;
        margin: 0.1em;
        opacity: 1;
    }
}
