:root {
    /* SIZES */
    --font-size: 16px;
    --curvature: 24px;

    /* COLOR CODES */
    --white: rgb(206, 223, 224);
    --black: rgb(6, 7, 10);
    --tan: rgb(162, 128, 83);
    --brown: rgb(124, 89, 50);
    --green: rgb(68, 132, 69);
    --green-light: rgb(170, 224, 159);
    --green-dark: rgb(4, 26, 24);
    --gray: rgb(67, 80, 82);
    --gray-dark: rgb(25, 30, 32);
    --gray-light: rgb(107, 126, 139);
    --color-bg: var(--white);
    --color-text: var(--gray-dark);
    --color-link: var(--green);
    --color-title: var(--green-dark);
    --color-highlight: var(--gray-light);
    --color-muted: var(--gray);
    --color-done: var(--brown);
    --color-alert: var(--tan);

    /* FONTS
     * base: Lato, sans-serif
     * text: Aleo, serif
     * title: Righteous, sans-serif
     * */

    --font-base: "Lato", system-ui;
    --font-text: "Aleo", serif;
    --font-title: "Righteous", sans-serif;
    --font-code: "Inconsolata", monospace;

    /* IMGS */
    --bg-img-phone: url("../img/logan-lambert-1100600-unsplash-phone.jpg");
    --bg-img-full: url("../img/logan-lambert-1100600-unsplash.jpg");
    --logo-white: url('../img/atmanaut-logo-white.png');
}

/* MEDIA QUERIES */
@custom-media --phone (width < 684px);
@custom-media --tablet (width > 684px);
@custom-media --desktop (width > 900px);

/* how to use custom media query
   @media --phone {
     font-size: 16px;
   }
 */
