:root {

  /* SIZES
   *
   */
  --font-size: 16px;
  --curvature: 24px;

  /* COLOR CODES
   * white: rgb(206, 223, 224);
   * black: rgb(6, 7, 10);
   * tan: rgb(162, 128, 83);
   * brown: rgb(124, 89, 50);
   * green: rgb(68, 132, 69);
   * green-light: rgb(170, 224, 159);
   * green-dark: rgb(4, 26, 24);
   * gray: rgb(67, 80, 82);
   * gray-dark: rgb(25, 30, 32);
   * gray-light: rgb(107, 126, 139);
   *
  */
  --white: rgb(206, 223, 224);
  --black: rgb(25, 30, 32);
  --color-bg: rgb(206, 223, 224); /* white */
  --color-text: rgb(25, 30, 32); /* dark grey */
  --color-link: rgb(68, 132, 69); /* green */
  --color-title: rgb(4, 26, 24); /* dark green */
  --color-highlight: rgb(170, 224, 159); /* light green */
  --color-muted: rgb(67, 80, 82); /* medium gray */
  --color-done: rgb(124, 89, 50); /* brown */
  --color-alert: rgb(162, 128, 83); /* tan */

  /* FONTS 
   * base: Lato, sans-serif
   * text: Aleo, serif
   * title: Righteous, sans-serif
   * */

  --font-base: "Lato", system-ui;
  --font-text: "Aleo", serif;
  --font-title: "Righteous", sans-serif;
  --font-code: "Inconsolata", monospace;

  --bg-img-phone: url("../img/logan-lambert-1100600-unsplash-phone.jpg");
  --bg-img-full: url("../img/logan-lambert-1100600-unsplash.jpg");
  --logo-white: url('../img/atmanaut-logo-white.png');
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width > 684px);
@custom-media --desktop (width > 900px);

/* how to use custom media query */
/* @media --phone { */
/*   font-size: 16px; */
/* } */

@define-mixin greater-icon $stroke-width: 3px, $width: .95rem, $height: 100% {
  .greater-icon {
    width: $width;
    height: $height;

    polyline {
      stroke: currentColor;
      stroke-width: $stroke-width;
    }
  }
}

/* to use mixin */
/* @mixin greater-icon 4px, 1rem, 40%; */
.color-primary-0 { color: #E30050 }	/* Main Primary color */
.color-primary-1 { color: #F61162 }
.color-primary-2 { color: #F90058 }
.color-primary-3 { color: #BB0042 }
.color-primary-4 { color: #8F0033 }

.color-secondary-1-0 { color: #018AAA }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #16BDE4 }
.color-secondary-1-2 { color: #02C0ED }
.color-secondary-1-3 { color: #016B84 }
.color-secondary-1-4 { color: #005265 }

.color-secondary-2-0 { color: #FFEE00 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFEF11 }
.color-secondary-2-2 { color: #FFEE00 }
.color-secondary-2-3 { color: #D6C700 }
.color-secondary-2-4 { color: #A49800 }


