html, body {
  height: 100vh;
}

body {
  overflow: hidden;
  display: flex;
}

.lane {
  overflow-y: scroll;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
}

.left.lane {
  order: -1;
}

.right.lane {
  order: 2;
}

.brand {
  flex-shrink: 0;
}

main.lane {
  flex: 2;
  order: 1;
  background: $color-white;
  color: $color-black;
  padding: 3em 0;
  border-radius: 0 $base-line-height $base-line-height 0;
}

aside.lane {
  order: 2;
  background-color: transparent;
  color: $color-white;
  text-align: center;
  justify-content: space-evenly;
}
