html, body {
  height: 100vh;
}

body {
  overflow: hidden;
  display: flex;
}

.lane {
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.right.lane {
  order: 2;
}

.brand {
  flex-shrink: 0;
}

main.lane {
  flex: 3;
  color: $color-black;
  border-radius: 0 $base-line-height $base-line-height 0;
}

aside.lane {
  background-color: transparent;
  color: $color-white;
  text-align: center;
  justify-content: space-between;
  padding: 2rem;
}
