header {
}
header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header li {
  display: inline-block;
}

header nav a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  border-radius: 0.25rem;
  background-color: $color-link;
  color: $color-white;
  padding: 0.25em 0.75em;
}


