<!-- Style compiler -->
{{- $styleSrc := resources.Get "css/main.css" -}}
{{ if .Site.IsServer -}}
{{- $css := $styleSrc | resources.PostCSS -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" media="screen">
{{- else }}
{{- $css := $styleSrc | resources.PostCSS | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink | absURL }}" integrity="{{ $css.Data.Integrity }}" media="screen">
{{ end }}
<link rel="stylesheet" media="screen" href="/css/app.css">
<link rel="stylesheet" media="screen" href="/css/syntax.css">
