{{ $custom := resources.Get "scripts/main.js" | resources.ExecuteAsTemplate "script.main.js" . }}

{{/*
{{ $vendor := resources.Get "scripts/vendor/vendor.js" }}
  {{ if .Params.js }}
    {{ $page := resources.Get .Params.js }}
  {{ end }}

  {{ $scripts := slice $vendor $custom $page | resources.Concat "app.js" | minify | fingerprint }}

<script type="text/javascript" src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}" media="screen"></script>
*/}}
<script type="text/javascript" src="{{ $custom.Permalink }}" media="screen"></script>
{{ if .Params.js }}
  <script type="text/javascript" src="{{ .Params.js }}"></script>
{{ end }}

